*{
    margin: 10px;
    padding: 0px;
}

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

#resultados{
    padding: 20px;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    border: 2px solid black;
}