*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: brown;
}

article{
    margin: 50px;
    padding: 15px;
    background-color: cornsilk;
    column-count: 3;
    column-gap: 30px;
    /* column-rule-width: 3px;
    column-rule-style: dotted;
    column-rule-color: blue; */
    column-rule: 3px dotted rgb(255, 1, 1);
    column-width: 250px;
}

img{
    margin: 15px 0;
    max-width: 100%;
}

p{
    margin: 10px;
}

h1{
    column-span: all;
    text-align: center;
    margin: 10px 0;
}